/* General Styles */
body {
    background-color: rgb(92, 51, 23);
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* Header Styles */
header {
    background-color: rgb(64, 43, 21);
    color: #fff;
    padding: 20px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 70px;
    margin: 0;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: 400;
    font-style: normal;
    background: -webkit-linear-gradient(right, #BF953F, #d4cc6b, #B38728);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    height: 170px;
    margin-right: 15px;
}

.nav-bar {
    display: flex;
    width: 100%;
    background-color: #8b5e3c;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.nav-link {
    flex: 1;
    background-color: #8b5e3c;
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 0;
    transition: background-color 0.3s;
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
}

.nav-link:hover {
    background-color: #a07b53;
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(64, 43, 21);
    margin-top: 60px;
    padding: 40px;
}

.footer-arrow {
    height: 30px;
    transform: rotate(90deg);
    margin-right: 20px;
    filter: invert();
}

.footer-nav {
    margin-bottom: 40px;
}

.footer-nav:hover {
    font-size: 35px;
    margin-bottom: 24px;
    padding-top: 11px;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(64, 43, 21);
    color: white;
}

.Footer-logo {
    margin-bottom: 10px;
}

.footer-logo {
    margin-bottom: 10px;
    height: 300px;
}

.contact-details {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: centers;
}

.map {
    margin: 0 auto;
    max-width: 400px;
}

.footer-logo img {
    max-width: 100px;
}

.map iframe {
    max-width: 100%;
    height: 300px;
    border: 0;
}


/* Body Styles */
.title {
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(64, 43, 21);
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 80px;
    padding-bottom: 80px;
}

form h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

form label {
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: 500;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="tel"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #8b5e3c;
    border-radius: 5px;
    font-size: 1rem;
}

.submit-button {
    background-color: #8b5e3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-top: 20px;
    transition: background-color 0.3s;
    margin-top: 50px;
    height: 50px;
    width: 180px;
    border-radius: 30px;
    font-size: 20px;
}

.submit-button:hover {
    background-color: #a07b53;
}



/* Item Styles */
.item-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #8c6542;
    color: white;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.item-panel img {
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.item-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1rem;
}

.item-info .title {
    font-weight: 700;
    font-size: 1.2rem;
}

.item-info .price {
    font-size: 1rem;
    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.item-info .cal {
    font-size: 0.9rem;
}

#food-type {
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
}