/* General Styles */
body {
    background-color: rgb(92, 51, 23);
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

/* Header Styles */
header {
    background-color: rgb(64, 43, 21);
    color: #fff;
    padding: 20px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 60px;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.logo {
    height: 170px;
    margin-right: 15px;
}

.nav-bar {
    display: flex;
    width: 100%;
    background-color: #8b5e3c;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.nav-button {
    flex: 1;
    background-color: #8b5e3c;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0;
    transition: background-color 0.3s;
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
}

.nav-button:hover {
    background-color: #a07b53;
}

/* Gallery Styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns */
    grid-template-rows: repeat(7, 1fr);
    /* 7 rows */
    gap: 10px;
    /* Gap between grid items */
    max-width: 1200px;
    /* Adjust as needed */
    margin: 20px auto;
    /* Centering gallery */
    padding: 20px;
    grid-auto-flow: dense;
    /* Ensures the grid is filled efficiently */
}

.gallery-item {
    margin: 20px;
}

.gallery-image {
    width: 100%;
    height: 100%;
    border: 10px double #8c6542;
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(64, 43, 21);
    color: white;
}

.Footer-logo {
    margin-bottom: 10px;
}

.contact-details {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.map {
    margin: 0 auto;
    max-width: 400px;
}

.footer-logo img {
    max-width: 100px;
}

.map iframe {
    max-width: 100%;
    height: 300px;
    border: 0;
}