body {
    background-color: rgb(1, 11, 34);
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.items {
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 25px;
    z-index: 1;
    position: relative;
    padding-left: 12.5%;
}

.categories {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    scroll-behavior: smooth;
    align-items: left;
    display: flex;
    align-content: space-between;

}

h5 {
    margin: 0px;
    padding: 0px;
}

.cal {
    display: inline-flex;
    flex-direction: row;
}

.item-panel {
    margin: 10px;
    border-radius: 15px;
    background-color: rgb(5, 76, 96);
    color: white;
    height: auto;
    width: 200px;
    text-wrap: wrap;
    font-weight: 400;
}

.price {
    font-size: 25px;
    width: 100%;
    text-wrap: nowrap;
    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#food-type {
    height: 25px;
    margin-left: 65%;
    margin-top: 0;
}

.title {
    padding: 10px;
    text-align: start;
    z-index: 1;
    font-weight: 700;
    font-size: 18px;

}